<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362216777793-46v2sssoa5uq6tqv4tm65cfqbfrh9ile.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362216777793-46v2sssoa5uq6tqv4tm65cfqbfrh9ile</string>
	<key>API_KEY</key>
	<string>AIzaSyD8WWNxTrD5DjIpoJn2Jjml3YGVniQ7TmU</string>
	<key>GCM_SENDER_ID</key>
	<string>362216777793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tes.tenangFlutterTes</string>
	<key>PROJECT_ID</key>
	<string>tenang-flutter-tes</string>
	<key>STORAGE_BUCKET</key>
	<string>tenang-flutter-tes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362216777793:ios:f61423e54ef7f1882bbec0</string>
</dict>
</plist>